  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
  }


  .top-bar {
    background-color: #FF6600;
    color: white;
    padding: 25px 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  #back:hover {
    background-color: #0400e6ff;
  }


  .content {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
  }


  .apartment-image {
    width: 100%;
    max-height: 400px;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(255,102,0,0.5);
    margin-bottom: 20px;
  }


  .title {
    color: #FF6600;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
  }


  .label { font-weight: bold; margin-right: 10px; }
  .status {
    display: inline-block;
    padding: 6px 18px;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
  }
  .vacant { background-color: #28a745; }
  .occupied { background-color: #dc3545; }


  .edit-btn {
    background-color: #FF6600;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 40px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  .edit-btn:hover {
    background-color: #e65500;
  }
   .delete-btn {
    background-color: red;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 40px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }