  body, html {
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  a.back {
    text-decoration: none;
    font-weight: bold;
    color: #FF6600;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
  }
  a.back svg {
    margin-right: 5px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
  }
  .checkmark {
    font-size: 80px;
    color: green;
  }
  h2 {
    color: #FF6600;
    font-size: 26px;
    margin-top: 20px;
  }
  .orange-curve {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #FF6600;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
  }